.pdContainer {
    display: grid; 
    grid-template-columns: 0.3fr 2fr 1.5fr 0.3fr; 
    grid-template-rows: 0.2fr 0.2fr 9.7fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "pdDetailsL pdDetailsL pdDetailsR pdDetailsR"
      "pdNavbarL pdNavbarL pdNavbarR pdNavbarR"
      "pdLeft pdImage pdDesc pdRight"
      "pdFooter pdFooter pdFooter pdFooter"; 
  }
  .pdDetailsL {
    grid-area: pdDetailsL;
    background: #161925;
    }
  .pdDetailsR {
    grid-area: pdDetailsR;
    background: #161925;
    }
  .pdNavbarL {
    grid-area: pdNavbarL;
    background: #161925;
    }
  .pdNavbarR {
    grid-area: pdNavbarR;
    background: #161925;
    }
  .pdImage {
     grid-area: pdImage;
     background: #433A3F;
     }
  .pdDesc {
     grid-area: pdDesc;
     background: #433A3F;
     }
  .pdLeft {
     grid-area: pdLeft;
     background: #433A3F;
     }
  .pdRight {
     grid-area: pdRight;
     background: #433A3F;
     }
  .pdFooter {
     grid-area: pdFooter;
     background: #161925;
     }

     .pdNavInner {
       display: grid;
      grid-template-columns: 0.2fr 0.2fr;
      grid-template-rows: 1fr;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "pdlogo pdbasket";
    }
    
    .pdbasket { grid-area: pdbasket; }
    
    .pdlogo { grid-area: pdlogo; }
    

     .basket{
      grid-area: pdbasket;
      float: left;
      margin-top: 2vh;
      padding-left: 3.5vw;
    }
    #basketNumber{
      position: absolute;
      padding-left: 1.9vw;
      font-family: Alegreya Sans SC;
      color: #59C9A5;
    }
    
    .basketitem:hover{
      transition: all 0.1s ease-in-out;
      color:#59C9A5;
    }
    
    .basketitem{
      color:white;
      transition: all 0.1s ease-in-out;
    }
    


     #navbar-logo{
        grid-area: logo;
        padding-left:1vw;
        width:220px;
        height:53px;
        padding-bottom: 0.5vw;
    }

    .logo{
      max-width: 220px;
    }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  z-index: 4;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 1vh;
  padding-right: 1vw;
}

.close:hover,
.close:focus {
  color:#59C9A5;
  text-decoration: none;
  cursor: pointer;
} 

.popupGrid {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.7fr 2.2fr 0.1fr; 
  grid-template-rows: 0.2fr 2.3fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "popup-left popup-top popup-top"
    "popup-left popup-center popup-center"
    "popup-left popup-footer popup-footer";
    background: #433A3F;
}
.popup-top {
   grid-area: popup-top;
   }
.popup-center {
   grid-area: popup-center;
   justify-self: center; 
   align-self: center; 
   }
.popup-footer {
   grid-area: popup-footer;
   }
.popup-left {
   grid-area: popup-left;
   background: #161925;
   }

   #pp-title{
    font-family: Alegreya Sans SC;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 1vh;
   }
  
   .pp-emptycontent{
    font-family: Alegreya Sans SC;
    color: white;
    font-size: 20px;
    /* padding:auto;
    text-align: center; */
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* justify-self: center; */
    justify-items: center;
    
   }

   .left-sale{
    color:#59C9A5;
    font-family: Alegreya Sans SC;
    font-size: 50px;
    text-align: center;
    padding-top: 1vh;

   }

   .left-save{
    color:white;
    font-family: Alegreya Sans SC;
    text-align: center;
    padding-top: 5vh;
    font-size: 20px;
   }

   .pp-img{
    display: flex;
    width: 90%;
    padding: 20px;
   }

   .productHidden{
    display: none;
  }
  

    hr{
        color: #59C9A5;
        opacity: 40%;
      }

      #returnpageBtn{
        text-decoration: none;
        color: white;
        font-family: Alegreya Sans SC;
      }
      #returnpageBtn:hover{
        text-decoration: underline;
        color: #59C9A5;
      }

      #returnpara{
        padding-top: 1.8vh;
        padding-left: 1vw;
        max-width: 200px;
      }

      #pdTitle{
        color: white;
        font-family: Alegreya Sans SC;
        font-size: 50px;
        
      }

      #pdPrice{
        color:#59C9A5;
        font-family: Alegreya Sans SC;
        font-size: 25px;
        
      }

      #pdItemDesc{
        padding-top: 5vh;
        color: white;
        font-family: Alegreya Sans SC;
        
      }

      #pdButton{
        padding-top: 6vh;
      }

      button {
        border: none;
        outline: 0;
        padding: 12px;
        color:#59C9A5;
        font-family: Alegreya Sans SC;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 25%;
        font-size: 18px;
        border-radius: 10px;
        
      }

      button:hover {
        color:white;
      }

      #pdImage{
        padding-top: 2vh;
      }

      .productIMG{
        border-radius: 10px;
        box-shadow: 10px 10px 50px rgb(27, 27, 27);
      }

      .PBContainer{
        width: 20vw;
        margin: 10px;
      }

      .PBbox{
        padding: 0.5em;
        /* box-shadow: 3px 3px 5px #59C9A5; */
        border-style: solid;
        border-color: #59C9A5;
        border-width: 5px;
      }

      .PBX{
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        padding-top: 1vh;
        padding-right: 1vw;
        font-family: Alegreya Sans SC;
      }
      
      .PBX:hover{
        color: #59C9A5;
        cursor: pointer;
      }

      .PBitems{
        color:white;
        font-family: Alegreya Sans SC;
        font-size: 20px;
      }
      
      .PBprice{
        color:#59C9A5;
        font-family: Alegreya Sans SC;
        font-size: 20px;
      }
      