html{
  scroll-behavior: smooth;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  z-index: 4;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 1vh;
  padding-right: 1vw;
}

.close:hover,
.close:focus {
  color:#59C9A5;
  text-decoration: none;
  cursor: pointer;
} 

.popupGrid {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.7fr 2.2fr 0.1fr; 
  grid-template-rows: 0.2fr 2.3fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "popup-left popup-top popup-top"
    "popup-left popup-center popup-center"
    "popup-left popup-footer popup-footer";
    background: #433A3F;
}
.popup-top {
   grid-area: popup-top;
   }
.popup-center {
   grid-area: popup-center;
   justify-self: center; 
   align-self: center; 
   }
.popup-footer {
   grid-area: popup-footer;
   }
.popup-left {
   grid-area: popup-left;
   background: #161925;
   }

   #pp-title{
    font-family: Alegreya Sans SC;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 1vh;
   }
  
   .pp-emptycontent{
    font-family: Alegreya Sans SC;
    color: white;
    font-size: 20px;
    /* padding:auto;
    text-align: center; */
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* justify-self: center; */
    justify-items: center;
    
   }

   .left-sale{
    color:#59C9A5;
    font-family: Alegreya Sans SC;
    font-size: 50px;
    text-align: center;
    padding-top: 1vh;

   }

   .left-save{
    color:white;
    font-family: Alegreya Sans SC;
    text-align: center;
    padding-top: 5vh;
    font-size: 20px;
   }

   .pp-img{
    display: flex;
    width: 100%;
    padding: 20px;
   }

.gridstyle {
    display: grid; 
    grid-template-columns: 0.1fr 2.8fr 0.1fr; 
    grid-template-rows: 0.05fr 0.08fr 2.6fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas:
      "details details details" 
      "navbar-grid navbar-grid navbar-grid"
      "leftside center rightside"
      "footer footer footer"; 
}

.navbarGridstyle {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.2fr 1.8fr 1fr; 
  grid-template-rows: 0.1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo products basket searchbar"; 
}
.logo {
   grid-area: logo; 
   padding-top: 0.6vh;
}
.products { grid-area: products; }
.searchbar { grid-area: searchbar; }

.navbar-grid{
  position: sticky;
  top: 0;
  z-index: 3;
}

.products{
  grid-area: products;
  max-width: 200px;
}

.basket{
  grid-area: basket;
  float: right;
  margin-top: -19.8px;
}

.basketitem:hover{
  transition: all 0.1s ease-in-out;
  color:#59C9A5;
}

.basketitem{
  color:white;
  transition: all 0.1s ease-in-out;
}

.details{
  /*Details, navbar and footer expand if something in center expands. How to prevent?*/
  grid-area: details;
  background: #161925;
  padding-bottom: 2vh;
  
}

hr{
  color: #59C9A5;
  opacity: 40%;
}
  
.navbar-grid {
    grid-area: navbar-grid;
    background: #161925;
  }
  
  .leftside {
    grid-area: leftside;
    background: #433A3F;

  
  }
  
  .center {
    grid-area: center;
    background: #433A3F;
    text-align: center;
    color:#59C9A5;

  }
  
  .rightside {
    grid-area: rightside;
    background: #433A3F;

  
  }
  
  .footer{
      grid-area: footer;
      background: #161925;
      color: white;
      text-align: center;
  }

  .detailsGridstyle {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.05fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "details-left details-right"; 
  }
  .details-left { 
    grid-area: details-left;
    max-width: 200px;
  }
  .details-right { grid-area: details-right; }

  #returnpageBtn{
    text-decoration: none;
    color: white;
    font-family: Alegreya Sans SC;
  }

  #returnpara{
    padding-top: 1.8vh;
    padding-left: 1vw;
    max-width: 200px;
  }

  #returnpageBtn:hover{
    text-decoration: underline;
    color: #59C9A5;
  }

  .error {
    color: crimson;
  }
  
  .success {
    color: limegreen;
  }
  
  #navbar-logo{
      grid-area: logo;
      padding-left:1vw;
      width:200px;
      height:53px;
      padding-bottom: 0.5vw;
  }

  

  .navbar-button{
    float: right;
    padding-top: 2vh;
    padding-right: 0.7vw;
    color: white;
    text-decoration: none;
    font-family: Alegreya Sans SC;
  }

  a.navbar-button:hover{
    color:#59C9A5;
    text-decoration: underline;
  }

  .loggedIn{
    display:none;
  }

#dropdown-title{
  grid-area: navbar-grid;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Alegreya Sans SC;
  justify-items: center;
}

#dropdown-title:hover{
  transition: all 0.1s ease-in-out;
  color:#59C9A5;
  cursor: pointer;
  text-decoration: underline;
}

.dropdown {
  grid-area: products;
  max-width: 140px;
  padding-top: 1.9vh;
  padding-left: 1vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 2;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.product-buttons{
  font-family: Alegreya Sans SC;
  color:#433A3F;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}

a.product-buttons:hover{
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  color:#59C9A5;
  text-decoration: underline;
}
  
  *{
    box-sizing: border-box;
    
  }
  .search-box{
    grid-area: searchbar;
    padding-right: 1vw;
    float:right;
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    padding-right: 2.8vw;
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#59C9A5;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #59C9A5;
    opacity: 40%;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #59C9A5;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .section{
    padding-top: 8vh;
  }

  .gridstyle2 {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.3fr 0.2fr 1.2fr 1.2fr 0.2fr 1.2fr 0.2fr 1.2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "categories categories categories categories"
    "cat-1 . . ."
    "list-1a list-1b list-1c list-1d"
    "list-2a list-2b list-2c list-2d"
    "cat-2 . . ."
    "list-3a list-3b list-3c list-3d"
    "cat-3 . . ."
    "list-4a list-4b list-4c list-4d"; 
}
.categories { grid-area: categories; }
.list-1a { grid-area: list-1a; }
.list-1b { grid-area: list-1b; }
.list-1c { grid-area: list-1c; }
.list-1d { grid-area: list-1d; }
.list-2a { grid-area: list-2a; }
.list-2b { grid-area: list-2b; }
.list-2c { grid-area: list-2c; }
.list-2d { grid-area: list-2d; }
.list-3a { grid-area: list-3a; }
.list-3b { grid-area: list-3b; }
.list-3c { grid-area: list-3c; }
.list-3d { grid-area: list-3d; }
.list-4a { grid-area: list-4a; }
.list-4b { grid-area: list-4b; }
.list-4c { grid-area: list-4c; }
.list-4d { grid-area: list-4d; }
.cat-1 { grid-area: cat-1; }
.cat-2 { grid-area: cat-2; }
.cat-3 { grid-area: cat-3; }

  /* .slides { width: 100%; }
  .slides-hidden { display : none; } */

  #hotproducts{
    padding-top: 10vh;
    color: white;
    font-family: Alegreya Sans SC;
    font-size: 30px;
  }
  
  .card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    top:0px;
    text-align: center;
    font-family: Alegreya Sans SC;
    font-size: 18px;
    background-color: #161925;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    /*margin-top: -10px;*/
    transform: translate(0, 10px);
  }

  .productIMG{
    border-radius: 10px;
  }

  .item-title{
    color: white;
  }
  
  .price {
    color:#59C9A5;
    font-size: 22px;
    padding: 1.5vh;
  }

  .item-desc{
    padding-bottom: 1vh;
    color: white;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color:#59C9A5;
    font-family: Alegreya Sans SC;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
  }

  .card:hover{
    transition: all 0.2s ease-in-out;
    /*margin-top: -10px;*/
    transform: translate(0, -10px);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px;
    
  }
  
  .card button:hover {
    color:white;
  }

  .list{
    padding-bottom: 5vh;
    
  }
  
  .cat-titles{
    color: white;
    font-family: Alegreya Sans SC;
    font-size: 30px;
    padding-top: 3.2vh;
  }

  #myBtnAnchor{
    text-decoration: none;
  }

  #myBtn{
    color: white;
    font-family: Alegreya Sans SC;
    text-decoration: none;
    padding: 2vh;
    font-size: 23px;
  }

  #myBtn:hover{
    color:#59C9A5;
    text-decoration: underline;
  }

  .FooterStyle{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "CompanyInfo CompanyInfo UsefulLinks Contact"; 
      
  }
  .CompanyInfo { grid-area: CompanyInfo; }
  .UsefulLinks { grid-area: UsefulLinks; }
  .Contact { grid-area: Contact; }

  .LLStyle {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.1fr 0.1fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "LL-1"
      "LL-2"
      "LL-3"; 
  }

  .LL-1 {
    grid-area: LL-1;
  }
 .LL-2 { grid-area: LL-2; }
 .LL-3 { grid-area: LL-3; }

  #LaurinLogo{
    position: relative;
    float: left;
    width: 50px;
    top:10px;
    left: 405px;
    /* padding-left: 1vw;
    padding-top: 7vh; */
  }

  #LLTitle{
    float: left;
    padding-top: 7vh;
    padding-left: 16.8vw;
    font-family: Alegreya Sans SC;
  }

  #LLInfo{
    font-family: Alegreya Sans SC;
    color: #59C9A5;
    padding-right: 5vw;
    max-width: 1000px;
  }

  #UsefulLinks{
    float: left;
    padding-top: 7vh;
    padding-left: 1vw;
    font-family: Alegreya Sans SC;
  }

  #ContactInfo{
    float: left;
    padding-top: 7vh;
    padding-left: 1vw;
    font-family: Alegreya Sans SC;
  }

  .ULStyle {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.1fr 0.1fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "UL-1"
      "UL-2"
      "UL-3"; 
  }
  .UL-1 { grid-area: UL-1; }
  .UL-2 { grid-area: UL-2; }
  .UL-3 { grid-area: UL-3; }

  #ULAccount{
    /* padding-right: 18.2vw; */
    max-width: 126px;
    color: white;
    font-family: Alegreya Sans SC;
    font-size: 18px;
  }

  .ULAAnchor{
    text-decoration: none;
  }

  .ULAAnchor:hover{
    text-decoration: underline;
  }

  #ULAccount:hover{
    color: #59C9A5;
    text-decoration: underline;
  }

  #ULProduct{
    padding-top: 1vh;
    max-width: 126px;
    color: white;
    font-family: Alegreya Sans SC;
    font-size: 18px;
  }

  #ULProduct:hover{
    color: #59C9A5;
    text-decoration: underline;
  }

  .CIStyle {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.1fr 0.1fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "CI-1"
      "CI-2"
      "CI-3"
      "CI-4";
  }
  
  .CI-1 {
     grid-area: CI-1;
   }
  .CI-2 { grid-area: CI-2; }
  .CI-3 { grid-area: CI-3; }
  .CI-4 { grid-area: CI-4; }

  #FooterEmail{
    float: left;
    padding-left: 0.5vw;
  }

  #FooterPhone{
    float: left;
    padding-top: 1vh;
    padding-left: 2.3vw;
  }

  .FooterLinks{
    color: white;
    font-family: Alegreya Sans SC;
  }

  .FooterLinks:hover{
    color:#59C9A5;
  }

  .FooterSupport{
    float: left;
    padding-top: 1vh;
    padding-left: 2.32vw;
  }

  .gridstyle3 {
    display: grid; 
    grid-template-columns: 0.1fr 2.8fr 0.1fr; 
    grid-template-rows: 0.02fr 0.02fr 2.2fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas:
      "details details details" 
      "navbar-grid navbar-grid navbar-grid"
      "center center center"
      "footer2 footer2 footer2"; 
}

.footer2{
  grid-area: footer2;
  background: #161925;
  padding-bottom: 5vh;
}
  
  .productGridstyle {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.4fr 1.2fr; 
    grid-template-rows: 0.05fr 0.03fr 2.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "filter-zone product-overhead-title"
      "filter-zone category-name"
      "filter-zone product-list"; 
  }
  .filter-zone {
     grid-area: filter-zone;
     box-shadow: 1px 0px 8px black;
     }
  .product-overhead-title { grid-area: product-overhead-title; }
  .product-list {
     grid-area: product-list;
     padding-bottom: 2vh;
     }
  .category-name { grid-area: category-name; }

  #PRODUCTdropdown-title{
    grid-area: navbar-grid;
    color:#59C9A5;
    font-size: 20px;
    text-decoration: none;
    font-family: Alegreya Sans SC;
    justify-items: center;
  }

  #POT{
    color: white;
    font-family: Alegreya Sans SC;
    font-size: 25px;
    padding-top: 1vh;
  }

  .PcatName{
    color:#59C9A5;
    font-family: Alegreya Sans SC;
    font-size: 20px;
    padding-top: 1vh;
  }

  .PLgridstyle {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 50px 0px; 
    grid-template-areas: 
      "hat1 hat2 hat3 hat4"
      "hat5 hat6 hat7 hat8"
      "tops1 tops2 tops3 tops4"
      "tops5 tops6 tops7 tops8"
      "pants1 pants2 pants3 pants4"
      "pants5 pants6 pants7 pants8"
      "shoes1 shoes2 shoes3 shoes4"
      "shoes5 shoes6 shoes7 shoes8"; 
  }
  .hat1 { grid-area: hat1; }
  .hat2 { grid-area: hat2; }
  .hat3 { grid-area: hat3; }
  .hat4 { grid-area: hat4; }
  .hat5 {
     grid-area: hat5;
  }
  .hat6 { 
    grid-area: hat6;
   }
  .hat7 { grid-area: hat7; }
  .hat8 { grid-area: hat8; }
  .tops1 { grid-area: tops1; }
  .tops2 { grid-area: tops2; }
  .tops3 { grid-area: tops3; }
  .tops4 { grid-area: tops4; }
  .tops5 { grid-area: tops5; }
  .tops6 { grid-area: tops6; }
  .tops7 { grid-area: tops7; }
  .tops8 { grid-area: tops8; }
  .pants1 { grid-area: pants1; }
  .pants2 { grid-area: pants2; }
  .pants3 { grid-area: pants3; }
  .pants4 { grid-area: pants4; }
  .pants5 { grid-area: pants5; }
  .pants6 { grid-area: pants6; }
  .pants7 { grid-area: pants7; }
  .pants8 { grid-area: pants8; }
  .shoes1 { grid-area: shoes1; }
  .shoes2 { grid-area: shoes2; }
  .shoes3 { grid-area: shoes3; }
  .shoes4 { grid-area: shoes4; }
  .shoes5 { grid-area: shoes5; }
  .shoes6 { grid-area: shoes6; }
  .shoes7 { grid-area: shoes7; }
  .shoes8 { grid-area: shoes8; }

  #myBtn2{
    color: white;
    font-family: Alegreya Sans SC;
    text-decoration: none;
    padding: 2vh;
    font-size: 23px;
    padding-top: 5vh;
  }

  #myBtn2:hover{
    color:#59C9A5;
    text-decoration: underline;
  }

  .filtertitle{
    font-family: Alegreya Sans SC;
    color:#59C9A5;
    padding-top: 1.5vh;
    font-size: 20px;
    padding-left: 1.4vw;
  }

  .filtercontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: Alegreya Sans SC;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 10vw;
    padding-top:3vh;
    color: white;
    padding-left: 11.2vw;
    text-align: start;
  }

  .fuckyou:hover{
    color:#59C9A5;
  }

  .fcACTIVE{
    color:#59C9A5 !important;
  }

  /* Hide the browser's default checkbox */
.filtercontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  display: inline;
}

.fuckyou {
  display: inline;
  margin-left: 5px;
}

.filtercontainer input:checked{
  color: #59C9A5;
}

/* On mouse-over, add a grey background color */
.filtercontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filtercontainer input:checked ~ .checkmark {
  background-color: #59C9A5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.filtercontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}