.container {
    display: grid; 
    grid-template-columns: 0.1fr 2.8fr 0.1fr; 
    grid-template-rows: 0.2fr 0.1fr 2.6fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas:
      "details details details" 
      "navbar-grid navbar-grid navbar-grid"
      "leftside center rightside"
      "footer footer footer"; 
}

.details{
  grid-area: details;
  background: #161925;
}

hr{
  color: #59C9A5;
  opacity: 40%;
}
  
.navbar-grid {
    grid-area: navbar-grid;
    background: #161925;
  }
  
  .leftside {
    grid-area: leftside;
    background: #433A3F;

  
  }
  
  .center {
    grid-area: center;
    background: #433A3F;
    text-align: center;
    color:#59C9A5;
  }
  
  .rightside {
    grid-area: rightside;
    background: #433A3F;

  
  }
  
  .footer{
      grid-area: footer;
      background: #161925;
      color: white;
      text-align: center;
  }

  .error {
    color: crimson;
  }
  
  .success {
    color: limegreen;
  }
  
  #navbar-logo{
      padding-left:1vw;
      width:200px;
      height:60px;
  }
  
  #navbar-button2{
      float: right;
      padding-top: 0.2vw;
      padding-right: 0.7vw;
      color: white;
      text-decoration: none;
      font-family: Alegreya Sans SC;
  }

  #navbar-button1{
    float: right;
    padding-top: 0.2vw;
    padding-right: 1vw;
    color: white;
    text-decoration: none;
    font-family: Alegreya Sans SC;
}

  a#navbar-button1:hover{
    color:#59C9A5;
    text-decoration: underline;
  }
  a#navbar-button2:hover{
    color:#59C9A5;
    text-decoration: underline;
  }