.gridstyle {
    display: grid; 
    grid-template-columns: 0.1fr 2.8fr 0.1fr; 
    grid-template-rows: 0.2fr 0.1fr 2.6fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas:
      "details details details" 
      "navbar-grid navbar-grid navbar-grid"
      "leftside center rightside"
      "footer footer footer"; 
}

.navbarGridstyle {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.2fr 1.8fr 1fr; 
  grid-template-rows: 0.1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo products basket searchbar"; 
}
.logo { grid-area: logo; }
.products { grid-area: products; }
.searchbar { grid-area: searchbar; }

.products{
  grid-area: products;
  max-width: 200px;
}

.basket{
  grid-area: basket;
  float: right;
  margin-top: -19px;
}

.basketitem:hover{
  transition: all 0.2s ease-in-out;
  color:#59C9A5;
}

.basketitem{
  color:white;
}

.details{
  /*Details, navbar and footer expand if something in center expands. How to prevent?*/
  grid-area: details;
  background: #161925;
  /*max-height: 50px;*/
  
}

hr{
  color: #59C9A5;
  opacity: 40%;
}
  
.navbar-grid {
    grid-area: navbar-grid;
    background: #161925;
  }
  
  .leftside {
    grid-area: leftside;
    background: #433A3F;

  
  }
  
  .center {
    grid-area: center;
    background: #433A3F;
    text-align: center;
    color:#59C9A5;
  }
  
  .rightside {
    grid-area: rightside;
    background: #433A3F;

  
  }
  
  .footer{
      grid-area: footer;
      background: #161925;
      color: white;
      text-align: center;
  }

  .error {
    color: crimson;
  }
  
  .success {
    color: limegreen;
  }
  
  #navbar-logo{
      grid-area: logo;
      padding-left:1vw;
      width:200px;
      height:53px;
      padding-bottom: 0.5vw;
  }

  .navbar-button{
    float: right;
    padding-top: 2vh;
    padding-right: 0.7vw;
    color: white;
    text-decoration: none;
    font-family: Alegreya Sans SC;
  }

  a.navbar-button:hover{
    color:#59C9A5;
    text-decoration: underline;
  }

  .loggedIn{
    display:none;
  }

#dropdown-title{
  grid-area: navbar-grid;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Alegreya Sans SC;
}

#dropdown-title:hover{
  transition: all 0.2s ease-in-out;
  color:#59C9A5;
}

.dropdown {
  grid-area: products;
  max-width: 140px;
  padding-top: 1.5vh;
  padding-left: 1vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 2;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.product-buttons{
  font-family: Alegreya Sans SC;
  color:#433A3F;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}

a.product-buttons:hover{
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  color:#59C9A5;
  text-decoration: underline;
}
  
  *{
    box-sizing: border-box;
    
  }
  .search-box{
    grid-area: searchbar;
    padding-right: 1vw;
    float:right;
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    padding-right: 2.8vw;
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#59C9A5;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #59C9A5;
    opacity: 40%;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #59C9A5;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .section{
    padding-top: 8vh;
  }

  .gridstyle2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.2fr 1.2fr 1.2fr 1.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "categories categories categories categories"
      "list-1a list-1b list-1c list-1d"
      "list-2a list-2b list-2c list-2d"
      "list-3a list-3b list-3c list-3d"
      "list-4a list-4b list-4c list-4d";
  }
  
  .categories { grid-area: categories;
    
   }
  
  .list-1a { 
    grid-area: list-1a;
  }
  
  .list-1b { grid-area: list-1b; }
  
  .list-1c { grid-area: list-1c; }
  
  .list-1d { grid-area: list-1d; }
  
  .list-2a { grid-area: list-2a; }
  
  .list-2b { grid-area: list-2b; }
  
  .list-2c { grid-area: list-2c; }
  
  .list-2d { grid-area: list-2d; }
  
  .list-3a { grid-area: list-3a; }
  
  .list-3b { grid-area: list-3b; }
  
  .list-3c { grid-area: list-3c; }
  
  .list-3d { grid-area: list-3d; }
  
  .list-4a { grid-area: list-4a; }
  
  .list-4b { grid-area: list-4b; }
  
  .list-4c { grid-area: list-4c; }
  
  .list-4d { grid-area: list-4d; }

  /* .slides { width: 100%; }
  .slides-hidden { display : none; } */

  #hotproducts{
    padding-top: 10vh;
    color: white;
    font-family: Alegreya Sans SC;
    font-size: 30px;
  }
  
  .card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    top:0px;
    text-align: center;
    font-family: Alegreya Sans SC;
    font-size: 18px;
    background-color: #161925;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    /*margin-top: -10px;*/
    transform: translate(0, 10px);
  }

  .item-title{
    color: white;
  }
  
  .price {
    color:#59C9A5;
    font-size: 22px;
    padding: 1.5vh;
  }

  .item-desc{
    padding-bottom: 1vh;
    color: white;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color:#59C9A5;
    font-family: Alegreya Sans SC;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
  }

  .card:hover{
    transition: all 0.2s ease-in-out;
    /*margin-top: -10px;*/
    transform: translate(0, -10px);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px;
    
  }
  
  .card button:hover {
    color:white;
  }

  .list{
    
    padding: 2vh;
  }
  
  