.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". toptext ."
      ". center ."
      ". . .";
  }
  
  .center { grid-area: center; }
  .toptext {
     grid-area: toptext;
     padding: 1em;
     }
  
  .signup-form{
    display: flex;
    flex-direction: column;
  }

  form h2{
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
  }
  form{
    width:35%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: #433A3F;
  }
  input{
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #59C9A5;
    font-size: 1em;
    background: #433A3F;
    margin: 0.5em;

  }
  label{
    display: block;
    margin: 20px 0 10px;
  }
  button{
    margin-top: 30px;
    border-radius: 36px;
    background: #59C9A5;
    border:0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
  }

  #title{
    color: white;
    font-family: Alegreya Sans SC;
    text-align: center;
    font-size: 2em;
  }

  body{
    background: #161925;
  }

  .feedback{
    padding-top: 1em;
    color: white;
    font-family: Alegreya Sans SC;
  }

  #title2{
    color: white;
    font-family: Alegreya Sans SC;
    font-size: 1.2em;
  }

  #potet{
    display: grid;
    grid-auto-flow: row;
    white-space:nowrap;
  }

  .PasswordResult{
    padding-top: 1em;
    color: white;
    font-family: Alegreya Sans SC;
  }

  a{
    padding: 1em;
    color: #59C9A5;
    font-family: Alegreya Sans SC;
  }

  #button{
    margin: 1em;
  }